* {
    padding: 0;
    margin: 0;
  }

html, body {
    height: 100%;
  }

@font-face {
    font-family: 'HammerKeys';       
    src: url('../css/fonts/hammer_keys/HAMMK___.eot');
    src: url('../css/fonts/hammer_keys/HAMMK___.TTF') format("truetype");    
}

@font-face {
    font-family: "1942 report";
    src: url("../css/fonts/1942_report/1942.eot");
    src: url("../css/fonts/1942_report/1942.ttf") format("truetype");    
  }

@font-face {
    font-family: "Traveling _Typewriter";
    src: url("../css/fonts/traveling_typewriter/TravelingTypewriter.eot");
    src: url("../css/fonts/traveling_typewriter/TravelingTypewriter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter-oldstyle';
    src: url('../css/fonts/typewriter-oldstyle.eot');
    src: url('../css/fonts/typewriter-oldstyle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1,p{
    font-family: "Traveling _Typewriter";
}
 h1{
     text-align: center;
     font-size: 30px;
 }

 p{
     border: black 2px solid;
     text-align: left;
     padding: 10px;
     box-shadow: 3px 3px 3px black;
     margin-bottom: 20px;
 }

 .sobre{
     margin-left: 25%;
     text-align: center;
     width: 50%;   
 }

 .sobre a{
     text-decoration: none;
 }

 .intro,.subintro{
     margin-left: 25%;
     width: 50%;
 }

 .subraya {
     text-decoration-line: underline;
 }

 .figura{
     width: 20%;
     height: 20%;
     border-radius: 50%;
     border: black 1px solid;
     box-shadow: 2px 2px 2px black;
     padding: 1px;
 }

 .relleno{
     margin-left: 28%;     
     margin-bottom: 20px;
 }

 nav{
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: static;
    z-index: 10;
    float: left;
    margin-bottom: 40px;
 }
 #navegador ul{
     list-style-type: none;
     text-align: center;
     font-family: "Traveling _Typewriter";
}

nav ul li{
    font-size: 16px;
}

#navegador, ul li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
}
 #navegador li{
     display: inline;
     text-align: center;
     margin: 0 5px 0 0;
 }

 #navegador li a {
    padding: 3px 7px 3px 7px;
    color: white;
    background-color: #8a8585;
    border: 1px solid white;
    text-decoration: none;
 }
 
 #navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }

 .contenido{
     padding: 80px;
 }

 .wrapper {
    min-height: calc(100% -4rem);
    padding: 20px;
  }

 .footer {
    margin: 25px;
    height: 4rem;
    background-color: #e2e2e2;
    font-family: "Traveling _Typewriter";
  }

  .fondo{
      background-image: url(../image/cabecera.png);
      background-color: transparent;
      background-size: 100% 100%;
      height: 40%;
      width: 75%;
      display: block;
      margin: auto;
      border-radius: 10%;

  }

  body{
      background-color: darkgray;
  }