@font-face {
    font-family: 'HammerKeys';       
    src: local('HammerKeys'),
        url('/fonts/hammer_keys/HAMMK___.TTF') format("truetype");    
}

@font-face {
    font-family: "1942 report";
    src: local("1942 report")
        url('/fonts/1942_report/1942.ttf') format("truetype");    
  }

@font-face {
    font-family: "Traveling _Typewriter";
    src: url("/fonts/traveling_typewriter/TravelingTypewriter.eot")
        url('/fonts/traveling_typewriter/TravelingTypewriter.otf') format("opentype")
        url('/fonts/traveling_typewriter/TravelingTypewriter.ttf') format("truetype");
}

h1,h3,p{
    font-family: "Traveling _Typewriter";
}
 h1,h3{
     text-align: center;
 }

 p{
     border: black 2px solid;
     text-align: left;
     padding: 10px;
     box-shadow: 3px 3px 3px black;
 }

 .sobre{
     margin-left: 25%;
     text-align: center;
     width: 50%;     
 }

 .intro,.subintro{
     margin-left: 25%;
     width: 50%;
 }