* {
    padding: 0;
    margin: 0;
  }

html, body {
    height: 100%;
  }

@font-face {
    font-family: "Traveling _Typewriter";
    src: url("../css/fonts/traveling_typewriter/TravelingTypewriter.eot");
    src: url("../css/fonts/traveling_typewriter/TravelingTypewriter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: darkgray;
    font-family: "Traveling _Typewriter"
}

img{
    background-color: transparent;
    width: 50%;
    display: block;
    position: relative;
    margin-left: 25%;
    align-content: center;
}

nav{
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: static;
    z-index: 10;
    float: left;
    margin-bottom: 40px;
}

 #navegador ul{
     list-style-type: none;
     text-align: center;
     font-family: "Traveling _Typewriter";
}

nav ul li{
    font-size: 16px;
}

#navegador, ul li a {
    display: inline;
    padding: 20px;
    text-decoration: none;
}

#navegador li{
     display: inline;
     text-align: center;
     margin: 0 5px 0 0;
}

#navegador li a {
    padding: 3px 7px 3px 7px;
    color: white;
    background-color: #8a8585;
    border: 1px solid white;
    text-decoration: none;
}
 
#navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    line-height: 30px;
}

p{
    line-height: 30px;
}

.rangos{
    display: block;
    padding: 2px;    
    border: 0;
}

table{
    border: 2px solid;
    border-color: black;
    border-collapse: separate;
    border-spacing: 3px;
    text-align: center;
}

th,td{
    margin: 10px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
}

.ran{
    

}

div.centraTabla{
    text-align: center;
}
    
div.centraTabla table {
    margin: 0 auto;
    text-align: left;
}







  .wrapper {
    min-height: calc(100% -4rem);
    padding: 20px;
  }

 .footer {
    margin: 25px;
    margin-top: 25px;
    height: 4rem;
    background-color: #e2e2e2;
  }